img {
    max-height: 200px;
    text-align:center;
}

textarea {
    width: 100%;
    text-align: center;
    font-size: 22px;
    padding: 10px;
    min-height: 100px;
}


body {
    text-align:center;
}


#photo_upload {
    position: absolute;
    top:0;
    right: 0;
    width: 100px;
}

h1, h2 {
    margin: 0px;
}

hr {
    margin-top: 50px;
}

.deed p {
    background: #ddd;
    padding: 10px;
}
